div {
	height: 200px;
	width: 200px;
}
.arriba {
	background-color: #B22DE9;
	position:absolute;	
	left: 0px;
	top: 0px;
}
.centro {
	background-color: #44E0E6;
	position:absolute;
	right: 0px;
	top: 0px;
}
.abajo {
	background-color: #2FEB5B;
	position:absolute;
	left: 0px;
	bottom: 0px;
}
.rojo {
	background-color: #FF0000;
	position:absolute;
	right: 0px;
	bottom: 0px;
}
.flotante {
	width: 200px;
	height: 200px;
}